@import './mainmenu/folderPopup';

.mainmenu {
    background-color: $yellow;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -30px 98.7%;
    
    &__hotMexicanGuy{
      width:100%;
      height: 30%;
      background-size: 140%;
      background-position: center;
      background-repeat: no-repeat;
    }

    label { cursor: pointer; }

    .hidden {
      display: none;
    }

    &__home, &__favorite, &__upload, &__newfolder {
      display: flex;
      align-content: center;
      align-items: center;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      

      * {
        padding: 3px;
        color: black;
        vertical-align: middle;
      }
    }

    &__newfolder label{
      font-size: 14px;
    }

}
