.profile {
  background-color: $purple;
  color: $yellow;
  @extend %flexCC;


  &__sombrero{
    z-index: 1;
    pointer-events: none;
    position: absolute;
    right: 166px;
    top: 10px;
    width: 60px;
    height: 60px;
    transform: rotate(-0.04turn);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__info {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;

    &__greeting {
      margin-left: 10px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      &__text {
        font-size: 14px;
      }
    &__moreButton {
      position: relative;
      height: 22px;
      width: 16px;
      margin-top: 11px;
      border: none;
      background: none;
      text-decoration: none;
      cursor: pointer;
      color: $yellow;
      outline: none;
      transition: all 0.2s;
      &:hover { color: $orange; }
      &:active { color: $red; }
    }
  }

  &__userIconContainer {
    @extend %flexCC;
    position: relative;
    width: 34px;
    height: 34px;
    margin-top: 3px;
    background-color: $yellow;
    border-radius: 10px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 21px;
  }

  &__more {
    z-index: 2;
    @extend %flexColumnCC;
    color: $red;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    position: absolute;
    width: 180px;
    height: 220px;
    align-items: center;
    margin-top: 50px;
    background-color: $body;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transform: translate(-15px, 94px);
    -webkit-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.21);
    box-shadow: -1px 3px 9px 0px rgba(0,0,0,0.12);
    &__refLinkInputDummy {
      position: absolute;
      top: -1000px;
    }
    &__lineBreak {
      width: 150px;
      height: 1px;
      background-color: $purple;
      margin: auto;
    }
    &__lineBreakFat {
      position: relative;
      width: 150px;
      height: 2px;
      background-color: $purple;
      margin: auto;
      &__progressbar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 50px;
        height: 2px;
        background-color: $yellow;
      }

    }

    &__logoutButton {
      width: 100px;
      height: 20px;
      &:hover { color: $wine; background-color: $yellow; border-radius: 10px;}
      &:active { color: $yellow; background-color: $purple; border-radius: 10px; }
    }
    &__profileInfo__email__text {
      padding-top: 5px;
      font-size: 12px;
    }
    &__refLinkButton {
      @extend %flexCC;
      position: relative;
      width: 150px;
      height: 30px;
      background-color: $wine;
      border-radius: 10px;
      color: $yellow;
      &:hover { background-color: $yellow; color: $wine }
      &:active {
        background-color: $purple;
        color: $yellow;
      }
      &__linkIcon { transform: rotate(45deg); }
    }
    &__spaceUsageText { font-size: 12px; }
  }
  .moreVertIcon {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-left: -16px;
    margin-top: -13px;
  }
  .arrowDropDownIcon {
      transform: translateY(-7px);
  }
}
