/* === Los Pepes Color Palette === */
$purple: #581845;
$wine: #900C3F;
$red: #C70039;
$orange: #FF5733;
$yellow: #FFC30F;
$hover: #ffeb0f;
$body: #f1f1f1;
$middleGradient: #566270;

// fonts
$fontHeader: 'Inknut Antiqua', serif;
$fontBody: 'Domine', serif;
$fontButton: 'Cormorant', sans-serif;
