@import './reset';
@import './variables';
@import './utilities';

@import './login/login';
@import './main/main';
@import './main/content/';

h1, h2, h3, h4 {
	font-family: $fontHeader;
}

button, p, span, a {
	font-family: $fontBody;
}

body {
	overflow: hidden;
}